<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-lab-8">
    <div class="container">
        <a class="navbar-brand header-title" href="#">{% block page_navbar_header %} Winners {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="collapse-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse-navbar">
            <ul class="navbar-nav">
                <li class="nav-item {% if profile_page %} active {% endif %}"><a class="nav-link" href="{% url 'profile:index' %}">Profile</a></li>
                <li class="nav-item {% if riwayat_page %} active {% endif %}"><a class="nav-link" href="{% url 'riwayat:index' %}">Riwayat</a></li>
                <li class="nav-item {% if status_page %} active {% endif %}"><a class="nav-link" href="{% url 'login-status:status' %}">Status</a></li>
                <li class="nav-item {% if teman_page %} active {% endif %}"><a class="nav-link" href="{% url 'cari_mahasiswa:index' %}">Teman</a></li>
            </ul>
            <div class="mr-auto mt-2 mt-lg-0">
            </div>
            <div class="my-2 my-lg-0">
                {% if profile.name %}
                <span class="user-name">
                    {{ profile.name }}
                </span>
                <span><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></span>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
