{%  extends "profile/base.html" %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2> Riwayat </h2>
            
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <th> No</th>
                <th> Nama Matakuliah</th>
                <th> Nilai</th>

                </thead>
                <tbody>
                {% for riwayat in list_riwayat %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
                    <td> 
                        {% if show_score %}
                            {{ riwayat.nilai }}
                        {% else %}
                            Dirahasiakan
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}