{% extends 'profile/base.html' %}

{% block bottom_script %}
<!-- Jquery DataTables script -->
{% load staticfiles %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
{% endblock %}

{% block page_resources %}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <table id="example" class="display" width="75%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NPM</th>
                    <th>Angkatan</th>
                    <th>Keahlian</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>NPM</th>
                    <th>Angkatan</th>
                    <th>Keahlian</th>
                </tr>
            </tfoot>
            <tbody>
                {% for mahasiswa in mahasiswa_list %}
                <tr>
                    <td class="nama">{{ mahasiswa.name }}</td>
                    <td class="npm">{{ mahasiswa.npm }}</td>
                    <td class="Angkatan">{{ mahasiswa.angkatan }}</td>
                    <td class="Skill">
                            {% if mahasiswa.skills %}
                            {% for skill in mahasiswa.skills %}
                            <div class="row ml-1 mb-2" id="delete-skill-{{skill.id}}">{{skill.title}} <span 
                                class="badge badge-{% if skill.level == 'Intermediate' %}success{% endif %}{% if skill.level == 'Advanced' %}info{% endif %}{% if skill.level == 'Expert' %}primary{% endif %}{% if skill.level == 'Legend' %}danger{% endif %} ml-1">
                                {{skill.level}}</span>
                                <button type="button" class="btn btn-light delete-skill btn-sm ml-2 d-none" onclick="buttonDeleteSkill($('#delete-skill-{{skill.id}}'), {{skill.id}})" ><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            {% endfor %}
                            {% else %}
                            skill-kosong
                            {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#example').DataTable();
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );</script>

{% endblock %}
